Repository lilong7676/simple-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --resolve-plugins-relative-to ., npm run test:staged, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --resolve-plugins-relative-to .", "npm run test:staged"],
  "*.{css,less,js,jsx,ts,tsx,json,yml,yaml,md}": ["prettier --write"]
}

feat: 优化docker-compose for server
  Dockerfile
  docker-compose.yml
  packages/chat-client-sdk/package.json
  packages/chat-client-sdk/src/db/index.ts
  packages/chat-client-sdk/src/index.ts
  packages/common/package.json
  packages/common/tsconfig.tsbuildinfo
  packages/server-express/.env
  packages/server-express/package.json
  packages/server-express/src/app/cache-manager.ts
  packages/server-express/src/app/data-source.ts
  packages/server-express/src/modules/im/conversation/conversation.service.ts
  packages/server-express/src/modules/im/message/message.service.ts
  packages/server-express/src/modules/oauth/oauth.service.ts
  packages/server-express/src/modules/socket/index.ts
  packages/server-express/src/modules/socket/io-manager.ts
  packages/server-express/src/modules/user/user.controller.ts
  packages/server-express/src/modules/user/user.service.ts
  packages/server-express/src/typings/socket.d.ts
  packages/server-express/tsconfig.tsbuildinfo
  packages/static/package.json
  packages/static/src/api/index.ts
  packages/static/src/components/chat-message-list/index.tsx
  packages/static/src/components/chat-message-list/message-list-item/index.tsx
  packages/static/src/components/conversation/index.tsx
  packages/static/src/constants/index.ts
  packages/static/src/layouts/app/chat/add-friends-page/add-friends-page.tsx
  packages/static/src/layouts/app/chat/chat-page/chat-page.tsx
  packages/static/src/layouts/app/chat/friend-list/friend-list.tsx
  packages/static/src/layouts/app/message-center/index.tsx
  packages/static/src/manager/app-manager/hooks/useFetchNewFriendRequest.ts
  packages/static/src/manager/app-manager/index.ts
  packages/static/src/store/state.ts
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., npm run test:staged, prettier --write

build: deps
  packages/chat-client-sdk/package.json
  packages/common/package.json
  packages/server-express/package.json
  packages/server-express/tsconfig.tsbuildinfo
  packages/static/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: docker-compose mysql environment error
  docker-compose.yml
Due: prettier --write

feat: docker-compose support nginx
  .dockerignore
  build_deploy.sh
  config/nginx/default.conf
  docker-compose.yml
  package.json
  packages/static/src/api/index.ts
Due: eslint --fix --resolve-plugins-relative-to ., npm run test:staged, prettier --write

build: chore for build
  .env
  .gitignore
  README.md
  build_deploy.sh
  docker-compose.yml
Due: prettier --write

Create deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

ci(github/workflows): change deploy.yml to ssh git clone
  .github/workflows/deploy.yml
  .gitignore
Due: prettier --write

ci: chore ci
  .gitignore
  build_deploy.sh
  packages/chat-client-sdk/src/index.ts
  web-hooks/deploy.sh
  web-hooks/hooks.yaml
Due: eslint --fix --resolve-plugins-relative-to ., npm run test:staged, prettier --write

ci: chore
  web-hooks/deploy.sh
Due: none

ci(build_deploy.sh): docker iamge rm -f
  build_deploy.sh
Due: none

chore(nginx): change niginx socket.io conf
  config/nginx/default.conf
Due: none

ci(deploy.yml): add delete ssh key job
  .github/workflows/deploy.yml
Due: prettier --write

chore(mysql docker config): change timezone
  docker-compose.yml
Due: prettier --write

chore: update gitignore
  .gitignore
  packages/common/tsconfig.tsbuildinfo
  packages/server-express/tsconfig.tsbuildinfo
Due: none

chore(packages/navigationcontroller): add README for @lilong767676/navigation-controller
  packages/navigation-controller/LICENCE
  packages/navigation-controller/README.md
  packages/navigation-controller/package.json
  packages/static/package.json
  packages/static/src/layouts/index.tsx
  packages/static/src/layouts/templates/app-page.tsx
  packages/static/src/routes/index.ts
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., npm run test:staged, prettier --write

fix: depedencies
  .npmrc
  package.json
  packages/navigation-controller/package.json
  packages/static/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: navigation-controller 1.0.1
  packages/navigation-controller/package.json
Due: prettier --write

feat: 使用server渲染index.ejs
  README.md
  config/nginx/default.conf
  config/static.config.js
  packages/server-express/package.json
  packages/server-express/src/app/index.ts
  packages/static/build/static/webpack.common.config.ts
  packages/static/build/static/webpack.dev.config.ts
  packages/static/build/static/webpack.prod.config.ts
  packages/static/package.json
  packages/static/public/favicon.ico
  packages/static/public/index.pug
  packages/static/static.config.js
  packages/static/webpack.config.ts
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., npm run test:staged, prettier --write

chore: add lint-staged
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: husky
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: simplify dependencies
  packages/server-express/.eslintrc.js
  packages/server-express/.prettierrc
  packages/server-express/package.json
  packages/static/.editorconfig
  packages/static/.eslintignore
  packages/static/.eslintrc.json
  packages/static/.prettierignore
  packages/static/.prettierrc
  packages/static/package.json
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., npm run test:staged, prettier --write

fix: static hmr cors error
  .eslintignore
  .eslintrc.js
  packages/server-express/src/app/cache-manager.ts
  packages/server-express/src/app/index.ts
  packages/server-express/src/common/middleware/auth.ts
  packages/server-express/src/modules/im/conversation/conversation.service.ts
  packages/server-express/src/modules/oauth/oauth-server.ts
  packages/server-express/src/modules/socket/io-manager.ts
  packages/server-express/src/modules/user/user.controller.ts
  packages/server-express/src/modules/user/user.service.ts
  packages/static/public/index.html
  packages/static/src/api/index.ts
  packages/static/src/layouts/app/chat/friend-list/friend-list.tsx
  packages/static/src/layouts/app/chat/new-friends-page/new-friends-page.tsx
  packages/static/src/layouts/app/index.tsx
  packages/static/src/layouts/index.tsx
  packages/static/src/layouts/login/index.tsx
  packages/static/webpack.config.ts
Due: eslint --fix --resolve-plugins-relative-to ., npm run test:staged, prettier --write

refactor: 由于目前页面只适配了移动端的，所以非移动端访问的话，暂时返回一个由iframe包裹的页面
  packages/server-express/package.json
  packages/server-express/src/app/index.ts
  packages/server-express/src/views/pc.ejs
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., npm run test:staged, prettier --write

fix(server): access from Desktop client 404
  packages/server-express/package.json
  pnpm-lock.yaml
Due: prettier --write
